.category-bottom {
  padding-bottom: 48px;
  &__image {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;

    @include on-tablet {
      height: 400px;
      padding-bottom: 56px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
