.footer {
  &__link {
    margin: 0;
    font-family: "Space Mono", sans-serif;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-decoration: none;
    color: #191919;
  }

  &__paragraph {
    margin: 0;
    font-family: "Space Mono", sans-serif;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    color: #191919;
    padding-bottom: 64px;
  }
}
