.footer {
  &__link {
    margin: 0;
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #191919;
    padding-bottom: 16px;
    grid-column: span 5;
  }

  &__paragraph {
    margin: 0;
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #191919;
    padding-bottom: 64px;
    grid-column: span 5;
  }

  &__content {
    @include grid {
      row-gap: 8px;
    }
  }
}
