.footer {
  &__link {
    margin: 0;
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #191919;
  }

  &__paragraph {
    margin: 0;
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #191919;
    padding-bottom: 64px;
  }
}
