.icon {
  height: 24px;
  width: 24px;
  display: block;
  background-image: url(../images/icons/icon_burger.png);
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon_phone.png);
  }

  &--burger {
    background-image: url(../images/icons/icon_burger.png);

    &:hover {
    background-image: url(../images/icons/icon_burger_menu_hover.png);;
  }
  }

  &--close {
    background-image: url(../images/icons/icon_close.png);
  }
}
