.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #E5E6E8;
  text-transform: uppercase;
  font-weight: 700;

  &__call-to-order {
    position: relative;
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: $main-line-height;
    letter-spacing: 2px;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 137px;
      background-color: $main-color;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__phone-number {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: $main-font-size;
    line-height: $main-line-height;
    letter-spacing: 2px;
    margin-bottom: 16px;
    transition-duration: 1s;
    transition-property: color;

    &:hover {
      color: red;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__top {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }
}
