.product {
  &__description {
    font-family: "Space Mono", sans-serif;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
  }

  &__price {
    font-weight: 700;
    font-style: bold;
    font-size: $main-font-size;
    line-height: $main-line-height;
  }

  &__photo {
    width: 100%;

    @include hover(transform, scale(1.02));
  }
}
