.product {
  &__description {
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 140%;
  }

  &__photo {
    width: 100%;

    @include hover(transform, scale(1.02));
  }
}
