@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue
  }
}

@mixin on-tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin button-style {
    height: 56px;
    background-color: #292929;
    color: #fff;
    border: 2px solid #292929;
    border-radius: 8px;
    transition-duration: 200ms;

    &:hover {
      background-color: #F8F8FA;
      color: $main-text-color;
      border: 2px solid #F0F1F4;
    }

    &:active {
      background-color: #111;
      color: #fff;
      border: 2px solid #111;
    }
}
